.container {
  height: 100%;
  flex-direction: column;
  border-radius: var(--mantine-radius-md);
  gap: var(--mantine-spacing-sm);
  align-items: center;
  background: var(--mantine-color-dark-6);
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
}

.hero {
  width: 100%;
  align-items: center;
  gap: var(--mantine-spacing-sm);
}

.title {
  font-size: var(--mantine-font-size-sm);
  font-weight: 600;
}

.details {
  width: 100%;
  gap: var(--mantine-spacing-sm);
}

.badge {
  font-weight: 500;
}

.add {
  width: 100%;
}
