.container {
  display: flex;
  flex-direction: column;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border: 1px solid var(--mantine-color-default-border);
  border-radius: var(--mantine-radius-md);
}

.image {
  justify-content: flex-start;
}

.title {
  font-weight: 500;
}
