.container {
  display: flex;
  gap: var(--mantine-spacing-md);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border: 1px solid var(--mantine-color-default-border);
  border-radius: var(--mantine-radius-md);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-weight: 500;
}

.description {
  font-size: var(--mantine-font-size-sm);
}
