.container {
  flex: 1;
  height: 100%;
  flex-direction: column;
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mantine-color-default-border);
  overflow: auto;
}

.header {
  margin-bottom: var(--mantine-spacing-sm);
}

.heading {
  font-size: var(--mantine-font-size-lg);
  font-weight: 500;
}

.list {
  flex-direction: column;
}
