.container {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 500;
  text-decoration: none;
  padding: var(--mantine-spacing-xs);
  font-size: var(--mantine-font-size-sm);
  border-radius: var(--mantine-radius-sm);
  color: var(--mantine-color-dark-0);
  &:hover {
    background-color: var(--mantine-color-dark-6);
  }
}

.label {
  margin-left: var(--mantine-spacing-sm);
}

.active {
  background-color: var(--mantine-color-blue-light);
  color: var(--mantine-color-blue-light-color);
  &:hover {
    background-color: var(--mantine-color-blue-light-hover);
  }
}
